# .coveragerc to control coverage.during local runs
[run]
branch = True
include = putil/eng.py
          putil/exdoc.py
          putil/exdoc.py
          putil/exh.py
          putil/misc.py
          putil/pinspect.py
          putil/pcontracts.py
          putil/pcsv.py
          putil/plot/basic_source.py
          putil/plot/constants.py
          putil/plot/contracts.py
          putil/plot/csv_source.py
          putil/plot/figure.py
          putil/plot/functions.py
          putil/plot/panel.py
          putil/plot/series.py
          putil/test.py
          putil/tree.py
show_missing = True
