# putil .gitignore file
tags
.coverage
.tox*
.pytest.restart
*.cache
*.pid
*.ckt
*.nod
*.swp
*.o
*.png
*.ps
*.log
*.swo
*.rot
*.pyc
*.spell
*.json
dist
putil.egg-info
putil/htmlcov
docs/_build
shippable/
vdisks/
build/
!tests/support/ref_images/*.png
!tests/support/ref_images_ci/*.png
!docs/support/*.png
