tags
.coverage
.tox*
.pytest.restart
*.cache
*.pid
*.ckt
*.nod
*.swp
*.o
*.png
*.ps
*.log
*.swo
*.rot
*.pyc
*.spell
*.json
.idea
.eggs
dist
putil.egg-info
putil/htmlcov
docs/_build
shippable/
vdisks/
build/
!tests/support/ref_images_1/*.png
!tests/support/ref_images_2/*.png
!tests/support/ref_images_3/*.png
!tests/support/ref_images_4/*.png
!tests/support/ref_images_5/*.png
!tests/support/ref_images_6/*.png
!tests/support/ref_images_7/*.png
!tests/support/ref_images_8/*.png
!docs/support/*.png
!data/requirements.json
!data/data_files.json
