# This file
include MANIFEST.in
# Top-level build scripts
include setup.py
# Project information and meta-data
include AUTHORS.rst
include CHANGELOG.rst
include LICENSE
include MANIFEST.in
include README.rst
include TODO.rst
# All documentation
recursive-include docs *.rst
recursive-include docs/support *.py *.csv *.png *.odg *.sh
# All build and testing tools
include .coveragerc
include shippable.yml
include tox.ini
recursive-include tests/support/ref_images *.png
